.bags{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    &__selector{
        background-color: #999;
        border-radius: 50%;
        padding: .5rem .8rem;
        cursor: pointer;

    }
}